<div class="container">
    <h3>Работники предприятия</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
            @foreach (var employer in Model)
            {
                <tr>
                    <td>@employer.ID</td>
                    <td>@employer.LastName</td>
                    <td>@employer.FirstName</td>
                    <td>@employer.MiddleName</td>
                    <td>@employer.Age</td>
                    <td><a asp-action="Details" asp-route-id="@employer.ID">Дополнительные сведения</a></td>
                </tr>
            }
            </thead>
        </table>
</div>